<html>
    <head>
        <style>
            .error500{
                border: 1px solid; 
                text-align: center; 
                margin-left: 30%; 
                width: 601px; 
                padding: 15px; 
                margin-top: 15%;
            }
        </style>
    </head>
    <body>
        <div class="error500">
        <h1>500 Server Error</h1>
        <h2>We're sorry, but something went wrong.</h2>
        <p>
        <h3>We've been notified about this issue and we'll take a look at it shortly.</h3>
        </p>
        </div>
    </body>
</html>
