<ul>
    {% for chatInfo in groupChat %}
        <!--li>{{ chatInfo.pub_date }} : {{ chatInfo.username }} >> {{ chatInfo.message }}</li-->
        <li>{{ chatInfo.2 }} : {{ chatInfo.0 }} >> {{ chatInfo.1 }}<a href="{{ chatInfo.3 }}">{{ chatInfo.3 }}</a></li>
    {% empty %}
        <li>No messages yet.</li>
    {% endfor %}
</ul>
{% if botList %}
<div>
    <ul>
    {% for bot in botList %}
        <li> * User "{{ bot }}" is trying to send spam which is surely fraud chatbot(User).</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
