<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Join - Chat</title>
<script src="{% static 'scripts/jquery.js' %}"></script>
<script type="text/javascript">
  setInterval("reloadChatbox();",2000); 
  
    function reloadChatbox(){
        var oldUrl = location + ''
        var newUrl = oldUrl.replace('join_chat', 'getChat');
        $.ajax({
            url: newUrl,
            type: "get",
            success: function(response) {
                $('#chatbox').html(response);
            }
        })
        
    }
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}" />
</head>
<div id="wrapper">
    <div id="menu">
        <p class="welcome">Welcome {{ user }}, <b></b></p>
        <p class="logout"><a id="exit" href="/home/logged_user">Exit Chat</a></p>
l        <div style="clear:both"></div>
    </div>
    
    <div id="chatbox">
        <ul>
        {% for chatInfo in groupChat %}
            <!--li>{{ chatInfo.pub_date }} : {{ chatInfo.username }} >> {{ chatInfo.message }}</li-->
            <li>{{ chatInfo.2 }} : {{ chatInfo.0 }} >> {{ chatInfo.1 }}</li>
        {% empty %}
            <li>No messages yet.</li>
        {% endfor %}
        </ul>
    </div>
    <form name="message" action="." method="post">
        {% csrf_token %}
        <input name="usermsg" type="text" id="usermsg" size="63" />
        <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
    </form>
</div>
</body>
</html>
