<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
	<META HTTP-EQUIV="Expires" CONTENT="-1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<title>Test Harness</title>
        <script src="{% static 'scripts/jquery.js' %}"></script>
        <script src="{% static 'scripts/jquery-ui.js' %}"></script>
        
        <script>
         $(document).ready(function() {
         	$(".log").hide();
            $( "#logout" ).click(function() {
	            $( ".log" ).slideToggle( "slow" );
            });
            $.browser.chrome = /chrom(e|ium)/.test(navigator.userAgent.toLowerCase());
            if($.browser.chrome){
            $("#stay_signed_in").css("display","none");
            }
            $("#post-alum").click(function(){
            	username=$.trim($("#username").val())
            	$("#error_username").html("")
            	$("#error_pass").html("")
            	$("#error_top").html(" ")
            	if(! $("#username").val())
            	{
            		$("#error_username").html("Enter username");
            		return false;
            	}
            	else if(username.length < 1)
   				{
		   			$("#error_username").html("Space is not allowed");
		   			return false;
   				}
            	else if(! $("#password").val())
            	{
            		$("#error_pass").html("Enter password");
            		return false;
            	}
        
            });
        });   
        </script>
        
        <style>
        	a.disabled
        	{
			   pointer-events: none;
			   cursor: default;
			}
        {% block css%}
        {% endblock %}
        </style>
</head>

<body>
	<div class="login-page">
		<!-- Login Box starts -->
		<div class="login-box">
				<div class="login-inner">
					<div class="header">
						<div class="logo"></div>
					</div>
                    <h2>{% block pagetitle %}Sign In{% endblock %}</h2>
                    {% block content %}
                    <form method="POST" action=".">
                        <div class="login-form">
                            {% csrf_token %}
                            {% if errors %}
                            {% for error in errors %}
                            <span id="error_top" style="color:red;font-size:10pt">{{ error }}</span>
                            {% endfor %}    
                            {% else %}
                            <br>     
                            {% endif %} 
                            <div class="row username">
                                <input type="text" name="username" id="username" placeholder="User Name">
                                <div id="error_username" style="color:red;font-size:10pt" ></div>
                            </div>
                            <div class="row password">
                                <input type="password" id="password" name="password" placeholder="Password">
                                <div id="error_pass" style="color:red;font-size:10pt"></div>
                            </div>
                            <!-- <input type="button" name="" id="" value="Login" /> -->
                            <input type="submit" id="post-alum" value="Login" style="font-size:25px;" >
                            <div class="links">
                                <div class="amPmCheckbox" id="stay_signed_in">
                                    <input type="checkbox" name="remember_me" class="checkboxLabel main_street_input" id="checkbox1" value="1" />
                                    <label for="checkbox1">Stay signed in</label>
                                </div>
                                <a href="{% url 'password_reset' %}">Forgot Password?</a>
                            </div>
                        </div>
                    </form>
                        <!-- <input type="button" name="" id="" value="Create an account" class="create&#45;account" /> -->
                    {% endblock %}
                    </div>
				<footer>Copyright 2015 · All rights reserved</footer>
		</div>
		<!-- Login Box ends -->
	</div>
</body>
</html>
