{% extends 'base.html' %}
{% block content-title %}Change Password{% endblock %}
{% block content %}
<section class="tab-container">
    <div class="tab-content-area">
        <div class="tab-content">
            <div class="form-layout">
                <form id="change_password" class="form-horizontal" role="form" action="." method="POST">
                    {% csrf_token %}
                    <div class="row mandatory {% if form.old_password.errors %}has-error{% endif %}">
                        <label>{{ form.old_password.label }}:</label>
                        {{ form.old_password }}
                        {% if form.old_password.errors %}{{ form.old_password.errors.0 }}{% endif %}
                    </div>
                    <div class="row mandatory {% if form.new_password1.errors %}has-error{% endif %}">
                        <label>{{ form.new_password1.label }}:</label>
                        {{ form.new_password1 }}
                        {% if form.new_password1.errors %}{{ form.new_password1.errors.0 }}{% endif %}
                    </div>
                    <div class="row mandatory {% if form.new_password2.errors %}has-error{% endif %}">
                        <label>{{ form.new_password2.label }}:</label>
                        {{ form.new_password2 }}
                        {% if form.new_password2.errors %}{{ form.new_password2.errors.0 }}{% endif %}
                    </div>
                    <div class="button-container">
                        <input id="change_password_post" type="submit" class="btn" value="Change">
                    </div>
                    <div style="padding:10px"></div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
$("#change_password").submit(function(){
        if($("#id_old_password").val() == $("#id_new_password1").val()){
        alert("Old password and New password cannot be same.")
        return false;
        }
        });
</script>
{% endblock %}
